.header {
    background: linear-gradient(rgb(12, 91, 160), rgb(0, 0, 30));
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 80px;
}

.title-lead.title-lead-monCompte{
    color: #ffffff;
    position: absolute;
    top: 110px;
    left: 49%;
}

.block-container{
    width: 100%;
    left: 0;
    margin-top: -300px;
    z-index: 1;
}

.block {
    position: relative;
    width: 85%;
    margin: 0 8%;
    box-shadow: 0px 10px 14px 0px rgba(21, 34, 53, 0.4);
    border-left: 1px solid rgba(21, 34, 53, 0.2);
    border-right: 1px solid rgba(21, 34, 53, 0.2);
    border-bottom: 2px solid rgba(21, 34, 53, 0.4);
    background-color: #f5f5f5;
    border-radius: 3px;
}

.block:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 20px solid;
    border-color: #083C74 transparent transparent transparent;
}

@media (min-width: 768px) {
    .block {
        margin: 0 34%;
        width: 60%;
    }
}

@media (min-width: 992px) {
    .block {
        margin: 0 33%;
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .block {
        margin: 0 25%;
        width: 50%;
    }
}

.block-item {
    margin: 7% 10%;
}

.block-item .title_block {
    text-align: center;
}

.block-item .title_block img {
    margin-top: 50px;
}

.form-changepswrd {
    margin: 5% 10%;
}
.block_body{
    margin: 0 auto 20px;
    width: 85%;
}
.form-changepswrd .form-group {
    padding: 3% 0;
}

.form-changepswrd .form-group .input-group{
    padding: 10px;
}

.input-group-addon .fa-key{
    color: #4f5050;
    font-size: 0.8em;
    transform: rotate(-90deg);
    height: 100%;
    padding: 10px;
}

.form-changepswrd .form-control{
    font-size: 0.8rem;
}