@font-face {
    font-family: "Owl cute";
    src: url("../assets/fonts/Owl-Cute.ttf");
}


.modalPopUp{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    margin-top: -100%;
}

.modalPopUp.show {
    margin-top: 100px;
    z-index: 1000000000;
    animation: modalappears .7s ease-in;
}

@keyframes modalappears {
    0% {
        margin-top: -100%;
    }
    50% {
        margin-top: -25%;
    }
    70% {
        margin-top: 25%;
    }
    100% {
        margin-top: 100px;
    }
}

.modalPopUp.fade {
    margin-top: -100%;
    animation: modaldesappears .5s ease-in;
}


@keyframes modaldesappears {
    0% {
        margin-top: 100px;
    }
    25% {
        margin-top: 25%;
    }
    70% {
        margin-top: -25%;
    }
    100% {
        margin-top: -100%;
    }
}

.modal-title{
    font-family: "Owl cute";
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.btn-close-addPret,
.btn-close-EditPret{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.warning-Alert{
    width: 80%;
    height: 100%;
    padding: 10px;
    text-align: center;
    display: none;
    margin: 0 auto;
}
.warning-Alert .fa-warning{
    font-size: 21px;
    color: #ffc107;
}
.warning-Alert .warning-msg{
    color: #ffc107;
    font-size: 17px;
    font-family: "Poppins-Regular";
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    font-family: "Poppins-Regular";
    font-size: 16px;
    cursor: pointer;
    z-index: 999999999999!important;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #999; }
.autocomplete-suggestions strong { font-weight: normal; color: #093F76; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


/********* Modal **************/
.modalPopUp .modal-dialog{
    width: 100%;
}
.modalPopUp .modal-body .form-group{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

.modalPopUp .form-group label{
    font-size: 15px;
    font-family: "AvantGarde Bk BT";
    width: 150px;
    padding: 5px;
}
.modalPopUp .form-group .date-form-group{
    display: inline-block;
}
.modalPopUp .form-group input,
.form-select{
    width: 250px;
    display: inline-block;
}
.modalPopUp .form-horizontal .form-container{
    width: 96%;
    margin: 0 2%;
}


.modalPopUp .input_group{
    display: flex;
    vertical-align: middle;
}
.input_group .control-label{
    text-align: end;
}
.input_group div{
    display: flex;
    width: 100%;
}


.modalAddPretPopUp .datedebutPretToAdd_InputField,.modalAddPretPopUp .datefinPretToAdd_InputField,
.modalEditPretPopUp .datedebutPretToEdit_InputField, .modalEditPretPopUp .datefinPretToEdit_InputField{
    width: 80%!important;
    position: relative;
    float: left;
    border-radius: 0!important;
    font-size: 12px!important;
}
.modalPopUp .input_group .input-group-addon{
    border: 2px solid #ced4da;
    background: #ced4da;
    padding: 7px;
    width: 30px;
    height: 35px;
    float: right;
    cursor: pointer;
}

.input-group-addon .fa-calendar{
    color: #4f5050;
}

.modalPopUp .form-horizontal .button_group .btnConfirm,
.modalPopUp .form-horizontal .button_group .btnCancel{
    width: 150px!important;
    font-size: 15px;
}

.modalPopUp .form-horizontal .button_group .btnConfirm{
    background: #28a745!important;
}
.modalPopUp .form-horizontal .button_group .btnCancel{
    background: #dc3545!important;
}

