@font-face {
    font-family: "Owl cute";
    src: url("../assets/fonts/Owl-Cute.ttf");
}


.modalPopUp{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    margin-top: -100%;
}

.modalPopUp.show {
    margin-top: 100px;
    z-index: 1000000000;
    animation: modalappears .7s ease-in;
}

@keyframes modalappears {
    0% {
        margin-top: -100%;
    }
    50% {
        margin-top: -25%;
    }
    70% {
        margin-top: 25%;
    }
    100% {
        margin-top: 100px;
    }
}

.modalPopUp.fade {
    margin-top: -100%;
    animation: modaldesappears .5s ease-in;
}


@keyframes modaldesappears {
    0% {
        margin-top: 100px;
    }
    25% {
        margin-top: 25%;
    }
    70% {
        margin-top: -25%;
    }
    100% {
        margin-top: -100%;
    }
}

.modal-title{
    font-family: "Owl cute";
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.btn-close-addPret,
.btn-close-EditPret{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.warning-Alert{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    display: none;
}
.warning-Alert .fa-warning{
    font-size: 21px;
    color: #ffc107;
}
.warning-Alert .warning-msg{
    color: #ffc107;
    font-size: 17px;
    font-family: "Poppins-Regular";
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    font-family: "Poppins-Regular";
    font-size: 16px;
    cursor: pointer;
    z-index: 999999999999!important;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #999; }
.autocomplete-suggestions strong { font-weight: normal; color: #093F76; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


/********* Modal Add Pret **************/
.modalAddPretPopUp .modal-dialog{
    max-width: 600px!important;
}
.modalAddPretPopUp .modal-body .form-group{
    display: inline-block;
    padding: 10px;
    width: 100%;
}

.modalAddPretPopUp .form-group label{
    font-size: 17px;
    font-family: "AvantGarde Bk BT";
    width: 30%;
}
.modalAddPretPopUp .form-group .date-form-group{
    display: inline-block;
}
.modalAddPretPopUp .form-group .date-form-group label{
    font-size: 17px;
    font-family: "AvantGarde Bk BT";
    width: 105px;
    text-align: right;
}

.modalAddPretPopUp .form-group input{
    width: 60%;
    display: inline-block;
}
.modalAddPretPopUp .form-horizontal .form-container{
    width: 96%;
    margin: 0 2%;
}


.modalAddPretPopUp .input_group{
    display: inline-block;
    max-width: 400px;
    vertical-align: middle;
}

.modalAddPretPopUp .input_group .datedebutPretToAdd_InputField,
.modalAddPretPopUp .input_group .datefinPretToAdd_InputField{
    width: 105px;
    position: relative;
    float: left;
    border-radius: 0!important;
    font-size: 15px;
}
.modalAddPretPopUp .input_group .input-group-addon{
    border: 2px solid #ced4da;
    background: #ced4da;
    padding: 5px;
    width: 30px;
    float: right;
    cursor: pointer;
}

.input-group-addon .fa-calendar{
    color: #4f5050;
}

.modalAddPretPopUp .form-horizontal .button_group .btnConfirm,
.modalAddPretPopUp .form-horizontal .button_group .btnCancel{
    width: 150px!important;
    font-size: 15px;
}

.modalAddPretPopUp .form-horizontal .button_group .btnConfirm{
    background: #28a745!important;
}
.modalAddPretPopUp .form-horizontal .button_group .btnCancel{
    background: #dc3545!important;
}


/********* Modal Edit Pret **************/
.modalEditPretPopUp .modal-dialog{
    max-width: 600px!important;
}
.modalEditPretPopUp .modal-body .form-group{
    display: inline-block;
    padding: 10px;
    width: 100%;
}
.modalEditPretPopUp .form-group .form-select{
    display: inline-block;
    width: 60%;
    background-color: #f5f5f5;
}

.modalEditPretPopUp .form-group label{
    font-size: 17px;
    font-family: "AvantGarde Bk BT";
    width: 30%;
}

.modalEditPretPopUp .form-group .date-form-group{
    display: inline-block;
}
.modalEditPretPopUp .form-group .date-form-group label{
    font-size: 17px;
    font-family: "AvantGarde Bk BT";
    width: 105px;
    text-align: right;
}

.modalEditPretPopUp .form-group input{
    width: 60%;
    display: inline-block;
}
.modalEditPretPopUp .form-horizontal .form-container{
    width: 96%;
    margin: 0 2%;
}


.modalEditPretPopUp .input_group{
    display: inline-block;
    max-width: 400px;
    vertical-align: middle;
}

.modalEditPretPopUp .input_group .datedebutPretToEdit_InputField,
.modalEditPretPopUp .input_group .datefinPretToEdit_InputField{
    width: 105px;
    position: relative;
    float: left;
    border-radius: 0!important;
    font-size: 15px;
}
.modalEditPretPopUp .input_group .input-group-addon{
    border: 2px solid #ced4da;
    background: #ced4da;
    padding: 5px;
    width: 30px;
    float: right;
    cursor: pointer;
}

.input-group-addon .fa-calendar{
    color: #4f5050;
}

.modalEditPretPopUp .form-horizontal .button_group .btnConfirm,
.modalEditPretPopUp .form-horizontal .button_group .btnCancel{
    width: 150px!important;
    font-size: 15px;
}

.modalEditPretPopUp .form-horizontal .button_group .btnConfirm{
    background: #28a745!important;
}
.modalEditPretPopUp .form-horizontal .button_group .btnCancel{
    background: #dc3545!important;
}
